<!DOCTYPE html>
<html>

<head>
    <title>ng-shop</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
</head>

<body class="container">

    <div class="page-header"> NG-without-services.html </div>

    <div ng-app="demo" class="container">

        <div class="well" ng-controller="HitController">
            <button class="btn btn-primary" ng-click="doHit()">Hit-1</button>
            <span class="badge">{{count}}</span>
        </div>
        <div class="well" ng-controller="HitController">
            <button class="btn btn-primary" ng-click="doHit()">Hit-2</button>
            <span class="badge">{{count}}</span>
        </div>
        <div class="well" ng-controller="KickController">
            <button class="btn btn-primary" ng-click="doKick()">Kick-1</button>
            <span class="badge">{{count}}</span>
        </div>

    </div>


    <script src="angular-1.5.8/angular.js"></script>
    <script>
         var mod=angular.module('demo',[]);

        mod.config(function(countServiceProvider){
              console.log('demo: config()');
         });

         mod.run(function(){
             // initialization...
             console.log('demo: run()');
         });

       

         mod.controller('HitController',function($scope,countService){
             console.log('New HC instance created..');
             $scope.count=countService.getCount();
             $scope.doHit=function(){
                 countService.doCount();
                 $scope.count=countService.getCount();
             }
         });
         mod.controller('KickController',function($scope,countService){
             console.log('New KC instance created..');
             $scope.count=countService.getCount();
             $scope.doKick=function(){
                countService.doCount();
                 $scope.count=countService.getCount();
             }
         });

         var o= {
                count:0,
                doCount:function(){
                    this.count++;
                },
                getCount:function(){
                    return this.count;
                }
            };

        mod.value('countService',o);

        var auth_token="2234235b3sdgsdgdfgdfg7689dfg";
        mod.constant('AUTH_TOKEN',auth_token);

        </script>

</body>

</html>